body {
  font-family: helvetica, arial, sans-serif;
  background-image: url('https://quotesbook.com/quotes/funny-memes/unknown-authors/hey-human-check-these-funny-dog-memes-3840x2160-4400.jpg');
  background-size: cover;
  height: 100vh;
  padding:0;
}

.meme {
    margin-left:60%;
    margin-top: 25%;
}

}
h1 {
  size: 75px;
  border-radius: 15px 50px;
  border: 10px solid green;
  text-align: center;
  color: white;
  background: red;
  -webkit-box-shadow: 17px 20px 41px -1px #000000;
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  margin-top: 0px;
}
h3 {
  margin-top: 200px;
  font-size: 25px;
  border-radius: 15px 50px;
  border: 10px solid purple;
  text-align: center;
  background: yellow;
  text-shadow: -4px -4px 2px rgba(150, 150, 150, 1);
  -webkit-box-shadow: 17px 20px 41px -1px #000000;
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
h4{
  margin-top: 200px;
  font-size: 25px;
  border-radius: 15px 50px;
  border: 10px solid orange;
  text-align: center;
  background: blue;
  text-shadow: -4px -4px 2px rgba(150, 150, 150, 1);
  -webkit-box-shadow: 17px 20px 41px -1px #000000;
  -webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF,
    16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00,
    24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}