<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />    
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
        </head>
    <body>
        <h1>Enter The Password</h1>
<!--password = p@ssword123-->
        <form  method = "post" action = "/password5">
            <input type="password" name="password" value=""/>
            <input type="submit" value="Submit"/>
        </form>
        <h2> Hint : CLick  F12 </h2>
    </body>
</html>