<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Enter The Password</h1>
        <h2 class = "cookie"> The Password Is: cookie </h2>

<!--hint = TRY PUTTING IT IN BACKWARDS-->
        <form  method = "post" action = "/password6">
            <input type="password" name="password" value=""/>
            <input type="submit" value="Submit"/>
        </form>
        <p7 class = "hint"> F12 = hint</p7>
    </body>
</html>